<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <!-- Bootstrap stylesheets and script -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="'Recipes' + ${title == null ? '' : ' :: ' + title}">Recipes</title>
</head>
<body>


    <nav th:fragment="page-header" class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">

            <!-- Logo/Brand -->
            <a class="navbar-brand" th:href="@{/}">Recipes</a>

            <!-- For smaller screens, button toggles Navigation Links -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Container of Navigation Links -->
            <div class="collapse navbar-collapse" id="mynavbar">
                <!-- List of Links -->
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/list}">List</a>>List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/search}">Search</a>>Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/add}">Add Recipes</a>>Recipes</a>
                    </li>
                </ul>

                <!-- Search Form -->
                <form class="d-flex">
                    <input class="form-control me-2" type="text" placeholder="Search">
                    <button class="btn btn-primary" type="button">Search</button>
                </form>
            </div>
        </div>
    </nav>


</body>
</html>