<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

    <!-- Page Header -->
    <nav th:replace="fragments :: page-header"></nav>

    <!-- Body Content Container -->
    <div class="container body-content">
        <h1 th:text="${'Cuisine: ' + cuisine.name}">Default Title</h1>

        <div class="recipe-listing">
            <p th:text="${'Name: ' + cuisine.name}"></p>
            <p th:text="${'Location: ' + cuisine.location}"></p>
        </div>
    </div>

</body>
</html>